CUDA_VISIBLE_DEVICES=0
LLAMA_N_GPU_LAYERS=33
LLAMA_MAIN_GPU=0
LLAMA_SERVER_URL=http://localhost:8000
MODEL_PATH=./ai_models/mistral7b/Mistral-7B-Instruct-v0.3-Q4_K_M.gguf
CPU_THREADS=16
FLASK_ENV=production
